:root {
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}

.mocha-mousse {
  --background: oklch(0.9529 0.0146 102.4597);
  --foreground: oklch(0.4063 0.0255 40.3627);

  --card: oklch(0.9529 0.0146 102.4597);
  --card-foreground: oklch(0.4063 0.0255 40.3627);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.4063 0.0255 40.3627);

  --primary: oklch(0.6083 0.0623 44.3588);
  --primary-foreground: oklch(1 0 0);

  --secondary: oklch(0.7473 0.0387 80.5476);
  --secondary-foreground: oklch(1 0 0);

  --muted: oklch(0.8502 0.0389 49.0874);
  --muted-foreground: oklch(0.5416 0.0512 37.2132);

  --accent: oklch(0.8502 0.0389 49.0874);
  --accent-foreground: oklch(0.4063 0.0255 40.3627);

  --destructive: oklch(63.136% 0.18834 28.801);
  --destructive-foreground: oklch(0.9529 0.0146 102.4597);;

  --neutral: oklch(56.755% 0.18789 257.583);
  --neutral-foreground: oklch(0.2721 0.0141 48.1783);

  --warning: oklch(78.322% 0.14709 86.849);
  --warning-foreground: oklch(0.2721 0.0141 48.1783);

  --success: oklch(79.139% 0.23378 140.774);
  --success-foreground: oklch(0.2721 0.0141 48.1783);

  --border: oklch(0.7473 0.0387 80.5476);
  --input: oklch(0.7473 0.0387 80.5476);
  --ring: oklch(0.6083 0.0623 44.3588);

  --chart-1: oklch(0.6083 0.0623 44.3588);
  --chart-2: oklch(0.5416 0.0512 37.2132);
  --chart-3: oklch(0.7272 0.0539 52.332);
  --chart-4: oklch(0.7473 0.0387 80.5476);
  --chart-5: oklch(0.644 0.0405 52.3917);

  --sidebar: oklch(0.8903 0.0278 49.5658);
  --sidebar-foreground: oklch(0.4063 0.0255 40.3627);
  --sidebar-primary: oklch(0.6083 0.0623 44.3588);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.7272 0.0539 52.332);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.644 0.0405 52.3917);
  --sidebar-ring: oklch(0.6083 0.0623 44.3588);

  --shadow-2xs: 2px 2px 0px 0px hsl(20 18% 51% / 0.06);
  --shadow-xs: 2px 2px 0px 0px hsl(20 18% 51% / 0.06);
  --shadow-sm:
    2px 2px 0px 0px hsl(20 18% 51% / 0.11),
    2px 1px 2px -1px hsl(20 18% 51% / 0.11);
  --shadow:
    2px 2px 0px 0px hsl(20 18% 51% / 0.11),
    2px 1px 2px -1px hsl(20 18% 51% / 0.11);
  --shadow-md:
    2px 2px 0px 0px hsl(20 18% 51% / 0.11),
    2px 2px 4px -1px hsl(20 18% 51% / 0.11);
  --shadow-lg:
    2px 2px 0px 0px hsl(20 18% 51% / 0.11),
    2px 4px 6px -1px hsl(20 18% 51% / 0.11);
  --shadow-xl:
    2px 2px 0px 0px hsl(20 18% 51% / 0.11),
    2px 8px 10px -1px hsl(20 18% 51% / 0.11);
  --shadow-2xl: 2px 2px 0px 0px hsl(20 18% 51% / 0.28);
}

.mocha-mousse-dark {
  --background: oklch(0.2721 0.0141 48.1783);
  --foreground: oklch(0.9529 0.0146 102.4597);

  --card: oklch(0.3291 0.0156 50.8936);
  --card-foreground: oklch(0.9529 0.0146 102.4597);

  --popover: oklch(0.3291 0.0156 50.8936);
  --popover-foreground: oklch(0.9529 0.0146 102.4597);

  --primary: oklch(0.7272 0.0539 52.332);
  --primary-foreground: oklch(0.2721 0.0141 48.1783);

  --secondary: oklch(0.5416 0.0512 37.2132);
  --secondary-foreground: oklch(0.9529 0.0146 102.4597);

  --muted: oklch(0.4063 0.0255 40.3627);
  --muted-foreground: oklch(0.7575 0.038 50.861);

  --accent: oklch(0.7473 0.0387 80.5476);
  --accent-foreground: oklch(0.2721 0.0141 48.1783);

  --destructive: oklch(68.415% 0.14455 21.559);
  --destructive-foreground: oklch(0.2721 0.0141 48.1783);

  --neutral: oklch(63.763% 0.16537 256.125);
  --neutral-foreground: oklch(0.2721 0.0141 48.1783);

  --warning: oklch(83.532% 0.11038 89.902);
  --warning-foreground: oklch(0.2721 0.0141 48.1783);

  --success: oklch(83.616% 0.17867 140.453);
  --success-foreground: oklch(0.2721 0.0141 48.1783);

  --border: oklch(0.4063 0.0255 40.3627);
  --input: oklch(0.4063 0.0255 40.3627);
  --ring: oklch(0.7272 0.0539 52.332);

  --chart-1: oklch(0.7272 0.0539 52.332);
  --chart-2: oklch(0.7473 0.0387 80.5476);
  --chart-3: oklch(0.6083 0.0623 44.3588);
  --chart-4: oklch(0.5416 0.0512 37.2132);
  --chart-5: oklch(0.644 0.0405 52.3917);

  --sidebar: oklch(0.2225 0.0098 52.9636);
  --sidebar-foreground: oklch(0.9529 0.0146 102.4597);
  --sidebar-primary: oklch(0.7272 0.0539 52.332);
  --sidebar-primary-foreground: oklch(0.2225 0.0098 52.9636);
  --sidebar-accent: oklch(0.7473 0.0387 80.5476);
  --sidebar-accent-foreground: oklch(0.2225 0.0098 52.9636);
  --sidebar-border: oklch(0.4063 0.0255 40.3627);
  --sidebar-ring: oklch(0.7272 0.0539 52.332);

  --shadow-2xs: 2px 2px 0px 0px hsl(20 18% 30% / 0.06);
  --shadow-xs: 2px 2px 0px 0px hsl(20 18% 30% / 0.06);
  --shadow-sm:
    2px 2px 0px 0px hsl(20 18% 30% / 0.11),
    2px 1px 2px -1px hsl(20 18% 30% / 0.11);
  --shadow:
    2px 2px 0px 0px hsl(20 18% 30% / 0.11),
    2px 1px 2px -1px hsl(20 18% 30% / 0.11);
  --shadow-md:
    2px 2px 0px 0px hsl(20 18% 30% / 0.11),
    2px 2px 4px -1px hsl(20 18% 30% / 0.11);
  --shadow-lg:
    2px 2px 0px 0px hsl(20 18% 30% / 0.11),
    2px 4px 6px -1px hsl(20 18% 30% / 0.11);
  --shadow-xl:
    2px 2px 0px 0px hsl(20 18% 30% / 0.11),
    2px 8px 10px -1px hsl(20 18% 30% / 0.11);
  --shadow-2xl: 2px 2px 0px 0px hsl(20 18% 30% / 0.28);
}
